@import '../../../style/variables';
@import '../../../style/mixins/text';
@import '../../../style/mixins/background';

#header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 0px 10px 0 0;
    color: white;
    
    .auto-hide-header {
        background: #111;
        box-shadow: 0px 2px 5px #000;
        @include flex-row();
        @include flex-middle();
        padding-right: 5px;
    }

    .logo {
        color: white;
        padding: 0 0 0 5px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;

        .link {
            padding: 0px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            color: $color-white;
            white-space: nowrap;

            .logo-img {
                width: 32px;
                height: 32px;
            }

            .logo-text {
                margin: 0 0 0 4px;
                letter-spacing: 2px;
                font-size: 1.5em;
                display: flex;
                flex-direction: row;
                align-items: center;
                text-shadow: 0px 0px 9px rgba(145,150,155,.5);
                
                // .scheme {
                //     position: relative;
                //     top: -2px;
                // }
                .dream {
                    margin-left: 5px;
                }
            }
        }

        .beta {
            white-space: nowrap;
            font-size: 8pt;
            color: #aab;
            font-style: italic;
            display: flex;
            margin: -23px 0 0 -24px;

            a, a:active, a:visited {
                color: #38d !important;
                margin-left: 5px;
            }
        }
    }

    .github {
        margin: 2px 0 0 15px;
        opacity: .8;
        display: flex;
        align-items: center;
        
        img {
            max-width: 20px;
            height: auto;
        }
        
        &:hover {
            opacity: 1;
        }
        
        .stars {
            margin: 0 0 0 5px;
            color: white;
            font-size: .85em;
        }
    }

    @media all and (max-width: 800px) {
        .logo {
            a {
                .logo-text {
                    display: none;
                }
            }
        }
    }
}