@import './text';

@mixin _input() {
    @include text-light();
    display: inline-block;
    border-radius: $button-border-radius;
    border: 1px solid $color-grey-1;
    padding: $padding-tn;
    resize: vertical;
    line-height: 1.5em;
    
    ::placeholder {
        color: $color-grey-2;
    }
}
