@mixin flex-row() {
    display: flex;
    flex-direction: row;
}

@mixin flex-row-reverse() {
    display: flex;
    flex-direction: row-reverse;
}

@mixin flex-col() {
    display: flex;
    flex-direction: column;
}

@mixin inline-flex() {
    display: inline-flex;
}

@mixin flex-col-reverse() {
    display: flex;
    flex-direction: column-reverse;
}

@mixin flex-center-both() {
    display: flex;
    justify-content: center;
    align-items: center;
}
    
@mixin flex-center() {
    justify-content: center;
}

@mixin flex-middle() {
    align-items: center;
}

@mixin flex-right() {
    justify-content: flex-end;
}

@mixin flex-grow-0() {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

@mixin flex-grow-1() {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

@mixin half() {
    width: 50%;
}

@mixin two-thirds() {
    width: 66%;
}

@mixin flex-wrap() {
    flex-wrap: wrap;
}

@mixin flex-baseline() {
    align-items: baseline;
}