@import './layout';
@import './text';
@import './background';

@mixin _button() {
    @include box-shadow-2-dark();
    @include text-white();
    @include text-thin();
    @include pointer();
    @include flex-row();
    @include flex-middle();
    text-align: center;
    justify-content: center;
    border-radius: $button-border-radius;
    transition: box-shadow $trans-md linear, 
                bottom $trans-md linear,
                left $trans-md linear,
                right $trans-md linear;

    &:hover {
        @include box-shadow-3-dark();
        cursor: pointer;
    }

    &.disabled {
        @include box-shadow-none();
        cursor: default;
        background-color: $color-grey-4;
        opacity: 0.75;

        &:hover {
            @include box-shadow-none();
        }
    }

    &:active {
        position: relative;
        top: 1px;
    }
}

@mixin _button-glass() {
    @include text-white();
    @include text-thin();
    @include pointer();
    @include flex-row();
    @include inline-flex();
    @include flex-middle();
    text-align: center;
    border-radius: $button-border-radius;
    border: 1px solid $color-white;
    background-color: transparent;
    text-decoration: none;
    transition: background-color .3s ease-in-out,
                box-shadow .3s ease-in-out;

    &:hover {
        //text-decoration: underline;
        background-color: rgba(255,255,255,.1);
        transition: background-color .3s ease-in-out,
                    box-shadow .3s ease-in-out;
    }

    &.disabled {
        cursor: default;
        color: $color-grey-3;
        border-color: $color-grey-3;

        &:hover {
            text-decoration: none;
        }
    }
}

@mixin button-sm() {
    @include _button();
    font-size: $font-size-input-sm;
    line-height: 16px;
    height: $height-input-sm;
    padding: $padding-sm;
}

@mixin button-md() {
    @include _button();
    font-size: $font-size-input-md;
    line-height: 22px;
    height: $height-input-md;
    padding: $padding-sm $padding-xs;
}

@mixin button-lg() {
    @include _button();
    font-size: $font-size-input-lg;
    line-height: 26px;
    height: $height-input-lg;
    padding: $padding-sm $padding-md;
}
