@import '../../../style/variables';
@import '../../../style/mixins/layout';

#view-dashboard {
    padding: 50px 0 0;
    margin: 0 auto; 
    position: relative;

    .header {
        @include flex-row();
        @include flex-middle();
    }
    
    .actions {
        margin: 10px 0 5px;
        display: flex;
        align-items: flex-end;

        .button {
            margin: 0 5px;
        }
        
        .load-project {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 5px;
            
            .label {
                margin-right: 5px;
            }
        }
    }
}