@import 'src/style/variables';
@import 'src/style/mixins/layout';

$hueHeight: 50px;
$pickerHeight: 5vh;

.ui-color-picker {
    width: 100vw;
    margin: 0;
    background-color: #FFF;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    bottom: 0;
    left: 0;

    @include flex-row();

    .picking-area {
        flex: 1;
        width: 100%;
        height: $pickerHeight;
        position: relative;

        .picker {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            position: absolute;
            top: 45%;
            left: 45%;
        
            &:before {
                width: 8px;
                height: 8px;
                content: "";
                position: absolute;
                border: 1px solid #999;
                border-radius: 50%;
            }
        }

        .options {
            @include flex-row();
            position: absolute;
            right: 0;
            bottom: 0;
            left: auto;
            height: auto;
            min-height: 50px;
            display: none;
        }

        &:hover {
            .options {
                display: flex;
            }
        }

        background: url('https://mdn.mozillademos.org/files/5707/picker_mask_200.png') center center;
        background-size: 100% 100%;

        background: -moz-linear-gradient(bottom, #000 0%, rgba(0, 0, 0, 0) 100%),
                    -moz-linear-gradient(left, #FFF 0%, rgba(255, 255, 255, 0) 100%);
        background: -webkit-linear-gradient(bottom, #000 0%, rgba(0, 0, 0, 0) 100%),
                    -webkit-linear-gradient(left, #FFF 0%, rgba(255, 255, 255, 0) 100%);
        background: -ms-linear-gradient(bottom, #000 0%, rgba(0, 0, 0, 0) 100%),
                    -ms-linear-gradient(left, #FFF 0%, rgba(255, 255, 255, 0) 100%);
        background: -o-linear-gradient(bottom, #000 0%, rgba(0, 0, 0, 0) 100%),
                    -o-linear-gradient(left, #FFF 0%, rgba(255, 255, 255, 0) 100%);

        background-color: #F00;

        /* HSL format - Hue-Saturation-Lightness */
        &[data-mode='HSL'] .picking-area {
            background: -moz-linear-gradient(top, hsl(0, 0%, 100%) 0%, hsla(0, 0%, 100%, 0) 50%,
                                            hsla(0, 0%, 0%, 0) 50%, hsl(0, 0%, 0%) 100%),
                        -moz-linear-gradient(left, hsl(0, 0%, 50%) 0%, hsla(0, 0%, 50%, 0) 100%);
            background: -webkit-linear-gradient(top, hsl(0, 0%, 100%) 0%, hsla(0, 0%, 100%, 0) 50%,
                                            hsla(0, 0%, 0%, 0) 50%, hsl(0, 0%, 0%) 100%),
                        -webkit-linear-gradient(left, hsl(0, 0%, 50%) 0%, hsla(0, 0%, 50%, 0) 100%);
            background: -ms-linear-gradient(top, hsl(0, 0%, 100%) 0%, hsla(0, 0%, 100%, 0) 50%,
                                            hsla(0, 0%, 0%, 0) 50%, hsl(0, 0%, 0%) 100%),
                        -ms-linear-gradient(left, hsl(0, 0%, 50%) 0%, hsla(0, 0%, 50%, 0) 100%);
            background: -o-linear-gradient(top, hsl(0, 0%, 100%) 0%, hsla(0, 0%, 100%, 0) 50%,
                                            hsla(0, 0%, 0%, 0) 50%, hsl(0, 0%, 0%) 100%),
                        -o-linear-gradient(left, hsl(0, 0%, 50%) 0%, hsla(0, 0%, 50%, 0) 100%);
            background-color: #F00;
        }
    }

    .preview {
        flex: 1.618;
        position: relative;

        .preview-color {
            width: 100%;
            height: calc(#{$pickerHeight} + #{$hueHeight});// calc(100vw - 61.8vw + #{$hueHeight});
            z-index: 1;
            position: relative;
            
            &:hover {
                cursor: move;
            }

        }

        .overlay {
            position: absolute;
            z-index: 9;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            @include flex-col();
            display: none;

            .pin {
                position: absolute;
                top: 5px;
                right: 5px;
                padding: 5px;
                z-index: 20;
                background: $color-grey-8;
                color: $color-black-8;
            }

            &.pinned {
                display: flex;

                .pin {
                    background: $color-blue-1;
                }
            }

            .options {
                @include flex-row();
                width: 100%;
                height: auto;
                background: rgba(0,0,0,.5);
                top: 0;
                right: 0;
                left: 0;
                padding: 5px;
                z-index: 10;
                align-items: center;

                .info {
                    @include flex-row();
                    @include flex-middle();

                    > .hex {
                        .editable-label {
                            .label {
                                margin: 0 3px 0px 2px;
                            }

                            input {
                                font-size: 1em;
                                max-width: 70px;
                            }
                        }
                    }
                }

                .controls {
                    @include flex-row();
                    @include flex-middle();
                    align-items: center;

                    .button {
                        margin: 5px;
                    }
                }
            }

            .color-complements {
                @include flex-col();
                z-index: 10;
            }
        }

        &:hover {
            .overlay {
                display: flex;
            }
        }
    }

    .hue,
    .alpha {
        width: 100%;
        height: $hueHeight;
    }
    
    .hue {
        background: url("https://mdn.mozillademos.org/files/5701/hue.png") center;
        background: -moz-linear-gradient(left, #F00 0%, #FF0 16.66%, #0F0 33.33%, #0FF 50%,
                    #00F 66.66%, #F0F 83.33%, #F00 100%);
        background: -webkit-linear-gradient(left, #F00 0%, #FF0 16.66%, #0F0 33.33%, #0FF 50%,
                    #00F 66.66%, #F0F 83.33%, #F00 100%);
        background: -ms-linear-gradient(left, #F00 0%, #FF0 16.66%, #0F0 33.33%, #0FF 50%,
                    #00F 66.66%, #F0F 83.33%, #F00 100%);
        background: -o-linear-gradient(left, #F00 0%, #FF0 16.66%, #0F0 33.33%, #0FF 50%,
                    #00F 66.66%, #F0F 83.33%, #F00 100%);
        background-size: 100% 100%;
    }
    
    .alpha {
        background: url("https://mdn.mozillademos.org/files/5705/alpha.png");
    }
    
    .alpha-mask {
        width: 100%;
        height: 100%;
        background: url("https://mdn.mozillademos.org/files/6089/alpha_mask.png");
    }
    
    .slider-picker {
        width: 2px;
        height: 100%;
        background-color: #FFF;
        position: relative;
        top: -1px;
    }

}