@import 'src/style/mixins/layout';

.color-complements {
    @include flex-col();
    width: 100%;

    .controls {
        @include flex-row();
        @include flex-middle();
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        background: rgba(0,0,0,.5);
        padding: 2px 5px;

        .ctrl {
            margin: 2px 5px;

            label {
                margin-right: 5px;
            }
            
            input {
                font-size: 1.35em;
                max-width: 50px;
                padding: 2px;
                color: #333;
            }
        }
    }

    .colors {
        width: 100%;
        @include flex-row();
        @include flex-wrap();

        .color {
            flex: 1;
            height: 54px;
            min-width: 8.3333%;
            flex-grow: 0;

            .hex {
                margin: 0 2px;
            }

            .controls {
                display: none;
            }

            &:hover {
                .controls {
                    display: block;
                }
            }
        }
    }
}