@import '../variables';

.pad-l-xs {
    padding-left: $padding-xs;
}

.pad-r-xs {
    padding-right: $padding-xs;
}

.margin-r-xs {
    margin-right: $padding-xs;
}

.margin-l-xs {
    margin-left: $padding-xs;
}

.pad-l-sm {
    padding-left: $padding-sm;
}

.pad-r-sm {
    padding-right: $padding-sm;
}

.margin-r-sm {
    margin-right: $padding-sm;
}

.margin-l-sm {
    margin-left: $padding-sm;
}

.pad-l-md {
    padding-left: $padding-md;
}

.pad-r-md {
    padding-right: $padding-md;
}

.margin-r-md {
    margin-right: $padding-md;
}

.margin-l-md {
    margin-left: $padding-md;
}

.pad-l-lg {
    padding-left: $padding-lg;
}

.pad-r-lg {
    padding-right: $padding-lg;
}

.margin-r-lg {
    margin-right: $padding-lg;
}

.margin-l-lg {
    margin-left: $padding-lg;
}

.pad-t-xs {
    padding-top: $padding-xs;
}

.pad-b-xs {
    padding-bottom: $padding-xs;
}

.pad-b-xl {
    padding-bottom: $padding-xl;
}

.margin-b-xs {
    margin-bottom: $padding-xs;
}

.margin-t-xs {
    margin-top: $padding-xs;
}

.pad-t-sm {
    padding-top: $padding-sm;
}

.pad-b-sm {
    padding-bottom: $padding-sm;
}

.margin-b-sm {
    margin-bottom: $padding-sm;
}

.margin-t-sm {
    margin-top: $padding-sm;
}

.margin-t-tn {
    margin-top: $padding-tn;
}

.pad-t-md {
    padding-top: $padding-md;
}

.pad-t-md-override {
    padding-top: $padding-md !important;
}

.pad-b-md {
    padding-bottom: $padding-md;
}

.margin-b-md {
    margin-bottom: $padding-md;
}

.margin-t-md {
    margin-top: $padding-md;
}

.pad-t-lg {
    padding-top: $padding-lg;
}

.pad-t-xl {
    padding-top: $padding-xl;
}

.pad-b-lg {
    padding-bottom: $padding-lg;
}

.margin-b-lg {
    margin-bottom: $padding-lg;
}

.margin-t-lg {
    margin-top: $padding-lg;
}

.pad-t-ml {
    padding-top: $padding-ml;
}

.pad-b-ml {
    padding-bottom: $padding-ml;
}

.margin-b-ml {
    margin-bottom: $padding-ml;
}

.margin-t-ml {
    margin-top: $padding-ml;
}

.pad-tb-xl {
    padding-bottom: $padding-xl;
    padding-top: $padding-xl;
}

.margin-b-xl {
    padding-bottom: $padding-xl;
}

.pad-tb-lg {
    padding-bottom: $padding-lg;
    padding-top: $padding-lg;
}

.pad-tb-md {
    padding-bottom: $padding-md;
    padding-top: $padding-md;
}

.pad-tb-ml {
    padding-bottom: $padding-ml;
    padding-top: $padding-ml;
}

.pad-tb-sm {
    padding-bottom: $padding-sm;
    padding-top: $padding-sm;
}

.pad-tb-xs {
    padding-bottom: $padding-xs;
    padding-top: $padding-xs;
}

.pad-tb-tn {
    padding-bottom: $padding-tn;
    padding-top: $padding-tn;
}

.margin-tb-ts {
    margin-bottom: $padding-ts;
    margin-top: $padding-ts;
}

.margin-tb-md {
    margin-bottom: $padding-md;
    margin-top: $padding-md;
}

.margin-tb-lg {
    margin-bottom: $padding-lg;
    margin-top: $padding-lg;
}

.margin-b-ts {
    margin-bottom: $padding-ts;
}

.margin-b-tn {
    margin-bottom: $padding-tn;
}

.margin-t-ts {
    margin-top: $padding-ts;
}

.pad-lr-md {
    padding-left: $padding-md;
    padding-right: $padding-md;
}
.margin-lr-sm {
    margin-left: $padding-sm;
    margin-right: $padding-sm;
}
