@import '../../../style/mixins/layout';
@import '../../../style/variables';

#scheme-designer {
    display: block;
    width: 100%;

    .add-color {
        @include flex-center-both;
        width: 80%;
        margin: 40px auto 0 auto;
        padding: 20px;
        border: 1px solid #555;
        border-radius: 10px;
        color: White;
        background: none;
        
        &:hover {
            background: #111;
            cursor: pointer;
        }
    }
    
    .color-set {
        @include flex-row();

        .color {
            display: block;
            width: 100px;
            height: 100px;

            &.selected {
                border: 2px solid $color-blue-main;
            }

            .info {
                display: none;
                margin-left: 2px;
            }

            &:hover {
                cursor: pointer;

                .info {
                    display: block;
                }
            }
        }
        
    }
}